.adinMainDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.adminContainer {
  color: red;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  width: 80%;
  margin: 20px auto;
}

.adminH1 {
  color: #fd2621;
  width: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px #7c7c7c;
}
/* ------------------TABLE--------------------------- */
.reportTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}


.reportTable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.reportTable th {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: #f2f2f2;
}

.reportTable td {
  padding: 8px;
  text-align: left;
}

.reportTable td table {
  border-collapse: collapse;
}

.reportTable td table td {
  padding: 8px;
}

/* ---------------------BUTTONS--------------------- */
.removeBtn{
  border-radius: 5px;
  background-color: #208800;
  color: white;
}

.banBtn{
  border-radius: 5px;
  background-color: #fd2621;
  color: white;
}