.homeMainDiv {
  background-color: #031525;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.homeComponentsDiv{
  display: flex;
  justify-content: space-around;
  max-height: 80%;
  min-height: 80%;
}

.globalChat {
  background-color: #031525;
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  width: 60%;
  max-height: 100%;
  max-width: 100%;
}