.profileMainDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.iconBtn{
  width: 50px;
}

.profileContainer {
  display: flex;
  position: relative;
  margin: 20px;
  color: white;
  text-shadow: -1.5px -1.5px 0 black, 1.5px -1.5px black, -1.5px 1.5px black,
    1.5px 1.5px black;
  border-radius: 15px;
  overflow: hidden;
  border: 2px solid #32b1fe;
  background-color: #edf8ff60;
}

.inputDivContainer {
  width: 50%;
  justify-content: center;
  margin: 0 30px 0 30px;
  padding-right: 10%;
}

.infoDiv {
  justify-content: right;
  margin: 0 20px 0 20px;
  width: 50%;
}

.profileInfo {
  flex: 4;
  align-items: center;
  display: flex;
}

.photoDiv {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  width: 25em;
  height: 25em;
}

.profilePhoto {
  width: 90%;
  border-radius: 50%;
  margin: 0px 10px 0 10px;
}

.profileName {
  display: flex;
  font-size: 45px;
  width: 100%;
  margin: 5px 0;
  padding: 20px;
}

.profileCountry,
.profileSex {
  font-size: 20px;
  margin-top: 10px;
  padding-left: 20px;
}

.profileDescription1 {
  font-size: 18px;
  line-height: 1;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: none;
  font: bold;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.profileDescription2 {
  font-size: 18px;
  line-height: 1;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: none;
  font: bold;
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-right: 10px;
  max-width: 500px;
}

.profileDescription3 {
  margin-top: 30px;
  font-size: 18px;
  line-height: 1;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: none;
  font: bold;
  width: 100%;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-right: 10px;
}

.iconVerify {
  width: 22px;
  margin-bottom: -5px;
}

.profileSex,
.profileCountry {
  color: white;
}

.edit {
  position: absolute;
  margin: 10px 10px 10px 10px;
  top: 0;
  right: 0;
  padding: 0;
}

.save {
  position: absolute;
  margin: 10px 10px 10px 10px;
  bottom: 0;
  right: 0;
  padding: 0;
}

.edit,
.save {
  border: none;
  background-color: transparent;
}

.inputDiv {
  max-width: 100%;
  margin: auto;
  padding: 20px;
  border: 1px solid #f0f8ff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.inputDiv h2 {
  text-align: center;
  color: white;
}

.inputDiv input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputDiv input:focus {
  outline: none;
  border-color: #007bff;
}