.premiumMainDiv {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.premiumCoponentsDiv {
  display: flex;
  justify-content: center;
  padding-top: 1%;
  width: 100%;
  max-height: 70%;
  min-height: 70%;
}

.introPremiumDiv {
  width: 100%;
  background-color: hsla(203, 94%, 48%, 0.75);
}

.introH3 {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: white;
}

.iconVerify {
  width: 22px;
  margin-bottom: -3px;
}

.conainer_form {
  background-color: #dff0ff;
  display: flex;
  margin: 0 3% 0 3%;
  min-height: 80%;
  width: 20%;
  border: solid 2px #32b1fe;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgb(122, 204, 255, 0.5);
}

.paymentForm {
  padding: 5%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.discount {
  position: absolute;
  font-weight: bold;
  top: 0;
  right: 0;
  margin: 0;
  padding: 2px;
  background-color: #32b1fe;
  color: yellow;
  border-radius: 0px 8px 0px 8px;
}

.formTitle {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.price {
  font-size: 1.5em;
  color: #031525;
  font-weight: bold;
}

.cardElement {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

.buyButton {
  background-color: #32b1fe;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #007bb5;
  }
  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
