.reportMessage {
    position: absolute;
    right: 0;
    margin-right: 15px;
    z-index: 1000;
    border: 1px solid #32B1FE;
}

.optionStyle{
    cursor: pointer;
    background-color: #001E32;
    transition: height 0.3s ease;
}

.optionStyle:hover{
    background-color: rgb(60, 60, 150);
    transform: scale(1.05);
    transition: 0.3s;
}

.optionStyle:hover{
    transition: 0.3s;
}