.reportMessage {
  position: absolute;
  right: 0;
  margin-right: 15px;
  z-index: 1000;
  border: 1px solid #32b1fe;
}

.optionStyle {
  cursor: pointer;
  background-color: #001e32;
  transition: height 0.3s ease;
  &:hover {
    background-color: rgb(60, 60, 150);
    transition: 0.3s;
  }
  &:not(:hover) {
    transition: 0.3s;
  }
}