
.nav {
    width: 100%;
    display: flex;
    padding: 10px 20px;
    background-color: #6f7ee5;
    color: #0f295c;
  } 
.nav input {

    width: 100%;
    max-width: 470px;
}

.nav button {
    width: 30%;
    max-width: 200px;
}