.home {
  background-color: #031525;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  margin-top: 5%;
  border: 1px solid white;
  border-radius: 10px;
  width: 60%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  overflow: hidden;

  .sidebar {
    flex: 1;
    background-color: #0e1a33;
    border-right: solid 0.5px #ffffff;
    .navbar {
      border-bottom: solid 0.5px #ffffff;
      display: flex;
      align-items: center;
      background-color: #172a54;
      height: 50px;
      padding: 10px;
      justify-content: left;
      color: #dae1f5;
      .logo {
        font-weight: bold;
      }
      .user {
        display: flex;
        gap: 10px;
      }
    }
  }
  .chat {
    flex: 2;
    max-width: 70%;
  }
}

.button {
  background-color: #5d5d8d;
  color: #ddddf7;
  font-size: 10px;
  border: none;
}

.img {
  background-color: #ddddf7;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.userdiv {
  display: flex;
  align-items: center;
}

.userName {
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.search {
  margin: 10px 10px 10px 10px;
  border-bottom: 1px solid gray;
  .searchForm {
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    padding-left: 5px;
    border-radius: 10px;
    .input {
      border: none;
      color: white;
      background-color: transparent;
      outline: none;
      &::placeholder {
        color: lightgray;
      }
    }
  }
}

.userChat {
  margin: 10px 10px 10px 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  &:hover {
    background-color: #3b92f66c;
    transition: 0.3s;
  }
}

.span {
  font-size: 18px;
  font-weight: 500;
}
.p {
  font-size: 14px;
  color: lightgray;
}

.chatInfo {
  height: 50px;
  background-color: #172a54;
  border-left: solid 0.5px #ffffff;
  border-bottom: solid 0.5px #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: white;
  font-size: larger;
}

.messages {
  background-color: #dff0ff;
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;
  max-width: 100%;
}

.inputComp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background-color: white;
  color: black;
  padding: 10px;
}

.input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  color: #2f2d52;
  background-color: transparent;
  font-size: 18px;
  outline: none;
  &::placeholder {
    color: lightgray;
  }
}

.sendButton {
  border: 1px solid #4449be;
  background: #dff0ff;
  color: #fff;
  font-weight: bold;
}

.sendIcon {
  height: 20px;
  width: 20px;
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sendImg {
  height: 24px;
  cursor: pointer;
}

/* Message */
.messageContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

/* Message Info */
.messageRecieveInfo {
  display: flex;
  max-width: 85%;
}

/* Message Content*/
.messageRecieve {
  margin-left: 5px;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
}

.pRecieve {
  color: black;
  background-color: #eff7ff;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
}

/* Message Owner */

.messageContainerOwner {
  display: flex;
  max-width: 85%;
  justify-content: end;
}

.messageSendInfo {
  margin-left: 5px;
}

.messageSend {
  margin-right: 5px;
  width: 100%;
  max-width: 100%;
  word-wrap: break-word;
}

.friendsComp {
  margin-top: 5%;
  box-sizing: border-box;
  width: 20%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

.pSend {
  color: white;
  background-color: #6e8ef7;
  padding: 10px 20px;
  border-radius: 10px 0px 10px 10px;
}

/* -------------------------------NAVBAR------------------------------------------------ */

.logo {
  width: 40px;
}

.icon {
  width: 25px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #031525;
  color: #0f295c;
  border-bottom: solid 0.5px #30363d;
}

.navBtns {
  justify-content: space-between;
  align-items: center;
}

.connectBtn,
.signOut,
.premium,
.chatBtn,
.adminBtn,
.groupBtn {
  background: transparent;
  border: solid 0.5px #30363d;
  border-radius: 10px;
  margin-right: 10px;
}

.connectBtn:not(:hover),
.signOut:not(:hover),
.premium:not(:hover), 
.chatBtn:not(:hover),
.adminBtn:not(:hover),
.groupBtn:not(:hover){
  transition: 0.5s;
}

.adminBtn:hover {
  transition: 0.5s;
  background-color: #1f2147;
  border-color: red;
  box-shadow: 0px 0px 10px rgb(255, 0, 0);
}

.chatBtn:hover {
  transition: 0.5s;
  background-color: #1f2147;
  border-color: rgb(21, 255, 0);
  box-shadow: 0px 0px 10px #49f028;
}

.groupBtn:hover {
  transition: 0.5s;
  background-color: #1f2147;
  border-color: rgb(132, 0, 255);
  box-shadow: 0px 0px 10px #b128f0;
}

.connectBtn:hover {
  transition: 0.5s;
  background-color: #1f2147;
  border-color: #00bfc7;
  box-shadow: 0px 0px 10px #ffffff;
}

.premium:hover {
  transition: 0.5s;
  background-color: #1f2147;
  border-color: yellow;
  box-shadow: 0px 0px 10px #f0e628;
}

.signOut:hover{
  transition: 0.5s;
  background-color: #1f2147;
  border-color: grey;
  box-shadow: 0px 0px 10px #8f8f8f;
}

.userPhoto {
  cursor: pointer;
  display: inline;
  width: 49px;
  border-radius: 10px;
  border: solid 0.5px #30363d;
  align-items: center;
  margin-bottom: -14px;
}

.userPhoto:hover {
  transition: 0.5s;
  background-color: #1f2147;
  border-color: white;
  box-shadow: 0px 0px 10px #ffffff;
}

.componentsDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 80%;
  max-height: 80%;
  min-height: 80%;
}

.column{
  z-index: 1000;
  position: absolute;
  top:4.5rem;
  right: 1rem;
  width: 125px;
  padding: 15px;
  border-radius: 15px ;
  border: 1px solid lightgrey;
  background-color: #031525;
}
.column::before{
  content: '';
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #031525;
  border-left: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}
.li{
  list-style: none;
}

.dropDownDiv{
  display: flex;
  color: #AFB8C1;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: solid 0.5px #30363d;
  cursor: pointer;
}
.dropDownSpan{
  margin-left: 3px;
}

.divLogout{
  cursor: pointer;
}
.userPhoto2{
  width: 25px;
  border-radius: 10px;
  border: solid 0.5px #30363d;
}
