.logo {
  width: 40px;
}

.icon {
  width: 25px;
  height: 25px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: hsla(208, 85%, 8%, 0.5);
  border-bottom: solid 0.5px #30363d;
}

.nav:hover{
  background-color: hsla(208, 85%, 8%, 0.8);
  transition: 0.5s;
}

.nav:not(:hover){
  transition: 0.5s;
}

.navBtns {
  justify-content: space-between;
  align-items: center;
}

.column {
  z-index: 1000;
  position: absolute;
  top: 4.5rem;
  right: 1rem;
  width: 125px;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid lightgrey;
  background-color: #031525;
}

.column::before {
  content: "";
  position: absolute;
  top: -0.7rem;
  right: 1.1rem;
  width: 20px;
  height: 20px;
  transform: rotate(45deg);
  background-color: #031525;
  border-left: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
}

.li {
  list-style: none;
  background-color: #031525;
}

.dropDownDiv {
  display: flex;
  color: #afb8c1;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: solid 0.5px #30363d;
  cursor: pointer;
}

.dropDownDiv:hover{
transform: scale(1.05);  
transition: 0.2s ease-in-out;
}

.dropDownDiv:not(:hover){
  transition: 0.2s;
}

.dropDownSpan {
  margin-left: 3px;
}

.divLogout {
  cursor: pointer;
}

.userPhoto {
  cursor: pointer;
  display: inline;
  width: 49px;
  border-radius: 10px;
  border: solid 0.5px #30363d;
  align-items: center;
  margin-bottom: -14px;
}

.userPhoto:hover {
  transition: 0.5s;
  background-color: #031525;
  border-color: white;
  box-shadow: 0px 0px 10px #ffffff;
}

.userPhoto2 {
  width: 25px;
  border-radius: 10px;
  border: solid 0.5px #30363d;
}

.connectBtn,
.premium,
.chatBtn {
  background: transparent;
  border: solid 0.5px #30363d;
  border-radius: 10px;
  margin-right: 10px;
}

.connectBtn:not(:hover),
.premium:not(:hover),
.chatBtn:not(:hover) {
  transition: 0.5s;
}

.chatBtn:hover {
  transition: 0.5s;
  background-color: #031525;
  border-color: rgb(21, 255, 0);
  box-shadow: 0px 0px 10px #49f028;
}

.connectBtn:hover {
  transition: 0.5s;
  background-color: #031525;
  border-color: #00bfc7;
  box-shadow: 0px 0px 10px #ffffff;
}

.premium:hover {
  transition: 0.5s;
  background-color: #031525;
  border-color: yellow;
  box-shadow: 0px 0px 10px #f0e628;
}