.connectContainer {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
}
.nav{
    align-items: center;
}
.usersContainer {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

.userContainer {
    display: flex;
    margin-bottom: 1em ;
}

.userImgContainer {
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.userContainer img {
    display: block;
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.textContainer {
    display: flex;
    gap: 1em;
    align-self: flex-start;
    justify-self: start;
}

.textContainer p {
    display: block;
}
